.gsignin{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-sizing: inherit;
  line-height: 38px;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  color: black;
}

.margin-left-15px{
  margin-left: 15px;
}

.width-150px{
  width: 150px;
}

.font-weight-400{
  font-weight: 400;
}

.blacky{
  background-color: #2d2c2c;
}

.hover{
  cursor: pointer;
}

.margin-top-20px{
  margin-top: 20px;
}

.no-margin{
  margin: 0px;
}

.no-padding{
  padding: 0px;
}

.height-inherit{
  height: inherit;
}

.style-for-profile-option{
  margin: 0.4rem;
  padding-left: 10px;
  border-radius: 8px;
  padding-top: 0.5px !important;
  padding-bottom: 0.5px !important;
}

.style-for-side-bar-menu{
    padding: 2px;
    margin-top: 20px;
    border-radius: 0.8rem;
}

.radius-2px{
  border-radius: 2px;
}

.message-status{
  font-size: 1.2rem !important;
  margin-right: 0.5rem;
}

.padding-2px{
  padding: 0.1rem;
}

.font-120{
  font-size: 1.2rem;
}

.font-rem{
  font-size: 1rem;
}

.profile-option-heading{
  margin-left: 10px;
  margin-top: 3px;
  position: absolute;
}

.whitesmoke-text{
  color: #9e9e9e !important;
}

.static{
  position: static !important;
}

.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-height: 150px;
  min-width: 150px;
}

.underline:hover{
  text-decoration: underline;
}

.round-image{
  border-radius: 50%;
}

.profile-pic{
  background-image: url("../assets/user.png");
  background-position: center;
}

.login-pic{
  margin-top: -20px;
  display: block;
  min-height: 150px;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-image: url("../assets/user.png");
  background-position: center;
  min-height: 172px;
  min-width: 172px;
}

.devices-refresh-button{
  display: inline-block;
  width: 100%;
  margin: auto;
}

.message-divider{
  height: 0.2rem;
}

.device-type{
  position: absolute;
  margin-top: -10px;
  margin-left: 4px;
  cursor: default;
}

.icon{
  font-size: 1.5rem;
}

.sidebar-icon{
  font-size: 1.2rem;
}

.icon-text{
  font-size: 1.15rem;
}

td{
  margin: 5px;
}

.message-box{
  height: 100%;
  color: #9e9e9e;
  overflow: auto;
  overflow-x: hidden;
}

.message-row{
  clear: both;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.message{
  position: relative;
}

.message-right{
  border-top-right-radius: 0 !important;
  right: 5px !important;
}

.message-left{
  border-top-left-radius: 0 !important;
  left: 5px !important;
}

.message-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 6px solid #2d2c2c;
  border-right: 6px solid transparent;
  border-top: 6px solid #2d2c2c;
  border-bottom: 6px solid transparent;
  top: 0px;
  right: -12px;
 }

 .message-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 6px solid #2d2c2c;
  border-left: 6px solid transparent;
  border-top: 6px solid #2d2c2c;
  border-bottom: 6px solid transparent;
  top: 0px;
  left: -12px;
 }

.message-text{
  float: left;
  margin: 0.2rem !important;
  padding-left: 1rem;
  word-break: break-all;
}

.message-detail{
  margin: 0%;
  border-radius: inherit;
}

.message-header{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding-top: 0.15rem !important;
}

.message-body{
  border-radius: inherit;
}

.message-content{
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.message-time{
  float: right;
  margin: 0.2rem !important;
  padding-top: 0.1rem !important;
  cursor: default;
}

.message-option{
  float: right;
  margin-left: 1rem;
  margin: 0.2rem !important;
}

.hover-blacky:hover{
  background-color: #343435 !important;
}

.message-device{
  float: left;
  margin: 0.2rem !important;
  padding-top: 0.1rem !important;
  cursor: default;
}

.message-device-icon{
  float: left;
  position: static; 
  margin: 0.2rem !important;
  margin-left: .4rem !important;
  cursor: default;
}

.fixed{
  position: fixed !important;
}

.dashboard{
  position : relative;
  height: 91%;
  padding-top: 0.8rem;
  border-radius: 1rem;
}

.hide-message-helper{
  display : none;
}

.message-helper{
  position : absolute;
  top : 0;
  border-top-left-radius: 1.1rem;
  border-top-right-radius: 1.1rem;
}

.message-helper-nav{
  z-index: 1000;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.textbox-form{
  position : absolute;
  bottom: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.character-counter{
  color: #9e9e9e !important;
}

.message-option-dropdown{
  border-radius: 0.8rem !important;
  position: absolute !important;
}

.textbox{
  bottom: 0;
  overflow-y: scroll !important;
  resize: none !important;
  max-height : 5rem !important;
}

.message-date-divider{
  border-radius: 0.7rem;
  padding: 0.2rem !important;
  margin-bottom: 1.5rem !important; 
}

.message-option-dropdown-element{
  padding: 0.2rem !important;
}

.preference-list{
  margin-left: 1.5rem;
}

.small-icon{
  font-size: 1.3rem !important;
}

.message-radius{
  border-radius: 1rem;
}

.device-collapsible{
  border-radius: 1rem;
}

.textbox-submit {
  border-radius: 1rem;
}

.border-top-inherit{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.border-bottom-inherit{
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.border-bottom-none{
  border: none;
}

.fab-text{
  background-color: whitesmoke;
  position: absolute;
  border-radius: 0.4rem;
  width: 6rem;
  right: 3.9rem;
  margin-top: 0.35rem;
  box-shadow: 1px 3px 2px 0px rgba(0,0,0,0.3);
  transition-duration: 0.3s;
  opacity: 0;
}

.fab-text:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 8px solid whitesmoke;
  border-bottom: 8px solid transparent;
  left: 97%;
  top : 20%;
 }

.show-fab-text {
  animation-name: show-fab-text;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: .2s;
  animation-fill-mode: forwards;
}
@keyframes show-fab-text {
  10%{
    transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(40px); 
    opacity: 0;
  }
  100%{
    transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px); 
    opacity: 1;
  }
}

.hide-fab-text {
  animation-name: hide-fab-text;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes hide-fab-text {
  10%{
    transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px); 
    opacity: 1;
  }
  100%{
    transform: scaleY(0.4) scaleX(0.4) translateY(30px) translateX(40px); 
    opacity: 0.1;
  }
}


.dropdown-content li>a{
  padding: 0.5rem !important;
}

.dropdown-content li{
  min-height: 1px !important;
}

.collapsible-header {
  padding: 0.7rem !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #424242; 
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: black; 
}

@media only screen and (min-width: 768px) {
  .textbox-submit{
    margin-top: 30%;
  }
}

@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 56px !important;
    line-height: 56px !important;
  }
}
